<%= form_for @user do |f| %>
  <div class="group">
    <%= f.label :name, 'Username' %>
    <%= f.text_field :name %>
  </div>
  <div class="group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="group">
    <%= f.label :password_repeated %>
    <%= f.password_field :password_repeated %>
  </div>
  <div class="group">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="group">
      <%= f.submit %>
  </div>
<% end %>