<div class="book" style="background-image: url(<%= book.cover_image.url(:medium) %>)" data-bookimg="<%= book.cover_image.url(:medium) %>">
  <a href="<%= book_path(book) %>" aria-label="<%= book.title %> table of contents">
    <h3><%= book.title %></h3>
  </a>
  <% if true %>
    <div class="book-options">
      <%= link_to 'Edit', edit_book_path(book) %> |
      <%= link_to 'Delete', book_path(book), method: :delete %>
    </div>
  <% end %>
</div>
