<div class="row">
  <a href="<%= new_book_path %>">
    <button type="button" class="btn btn-default">Create Book</button>
  </a>
  <div class="">
    <%= form_tag("/books/search", method: 'get') do %>
      <%= text_field_tag :query, nil, placeholder: 'Search Books...', class: 'decorative-input' %>
      <%= submit_tag 'Search', name: '', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<div class="row books-container">
  <% @books.each do |book| %>
    <%= render partial: 'book', locals: { book: book } %>
  <% end %>
</div>
